body {
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
  color: inherit;
  text-decoration: 0;
}
a:hover, .btn:hover{
  color: #ffffff;
  background-color: #3a3434;
}



* {
  border-radius: 0 !important;

}

.carousel-item{
  height: 95vh;
  min-height:300px;
  /* position: fixed;
  bottom: 50px; */
}

.carousel-caption{
  bottom:280px;
  z-index:2;
}

.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p{
  width: 60%;
  margin: auto;
  font-size:18px;
  line-height: 1.9;

}

.carousel-inner::before{
  content:"";
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}
@media only screen {
  
}

@media only screen and (max-with: 767px){
  .navbar-nav{
    text-align:  center;
  }
  .carousel-caption{
    bottom: 125px;
  }
  .carousel-caption h5{
    font-size: 17px;
  }
  .carousel-caption p{
    width:100%;
  }
}